.cache/
assets/*
build/
lib/
logs/
saves/

!assets/shaders/
!engine/include/assets/
!engine/src/assets/
!engine/include/saves/
!engine/src/saves/


*.cfg
*.dll
*.ini
*.sublime-workspace
*.sublime-project
.clang-tidy
compile_commands.json